<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alberto</string>
		<key>score</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>John</string>
		<key>score</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Bill</string>
		<key>score</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
